@import '//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

.header {
  position: fixed;
  background: #fff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  text-align: center; }
  .header .navbar-brand {
    display: inline-flex;
    align-items: center; }
  .header h2 {
    display: inline-block;
    margin-bottom: 0;
    color: #231F20; }
  .header img {
    width: 46px;
    height: 46px;
    margin-right: 5px; }

.main {
  margin-top: 40px;
  margin-bottom: 40px; }

.button, .button-outline {
  background: #ffcd00;
  border: 0;
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold; }

.button-outline {
  padding: 4px 6px;
  border: 1px solid black;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent; }

.App .search_container {
  background: #ffcd00;
  padding: 10px;
  margin-left: 0;
  margin-right: 0; }
  .App .search_container .search {
    display: flex;
    justify-content: center; }
  .App .search_container input {
    max-width: 640px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 10px; }
  .App .search_container button {
    background-color: black;
    border: 0;
    border-radius: 4px;
    margin-left: 5px;
    color: #ffcd00;
    padding: 1px 15px;
    font-size: 22px;
    cursor: pointer; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
